<div class="message" id="<%= dom_id(message) %>">
  <strong class="<%= message.user == Current.user ? 'text-lime' : 'text-red' %>">
    <% if message.user == Current.user %>
      Me:
    <% else %>
       <%= message.user.email_address %>:
    <% end %>
  </strong> 
  <%= message.content %>
  <span style="font-weight: light; color: #F6F5F2; font-size: 10px">
    <%= message.created_at.in_time_zone("Asia/Bangkok").strftime("%H:%M") %>
  </span>
  <%= button_to 'Delete', message, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'button' %>
</div>


