

<div class='login-page'>
    <h1>Registration</h1>
    <%= form_with url: registration_index_path, html: {multipart: true} do |form| %>
        <%= form.email_field :email_address, required: true,
        autofocus: true, autocomplete: "email", placeholder:"Enter your email address", value: params[:email_address],class: 'login-input' %>
        <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: "Create a password", maxlength: 72, class: 'login-input' %>
        <%= form.submit "Sign up", class: 'button'%>
        <br>
        <br>
        <%= link_to "Back to login", new_session_path %>
    <% end %>
</div>